@charset "UTF-8";
@font-face {
  font-family: 'Sansation';
  src: url('../fonts/hinted-SansationRegular.eot');
  src: url('../fonts/hinted-SansationRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SansationRegular.woff2') format('woff2'), url('../fonts/hinted-SansationRegular.woff') format('woff'), url('../fonts/hinted-SansationRegular.ttf') format('truetype'), url('../fonts/hinted-SansationRegular.svg#Sansation') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/hinted-SansationBold.eot');
  src: url('../fonts/hinted-SansationBold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SansationBold.woff2') format('woff2'), url('../fonts/hinted-SansationBold.woff') format('woff'), url('../fonts/hinted-SansationBold.ttf') format('truetype'), url('../fonts/hinted-SansationBold.svg#Sansation') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: 'BPG_GEL_Excelsior';
  src: url('../fonts/BPG_GEL_Excelsior.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPG_GEL_Excelsior_Caps';
  src: url('../fonts/BPG_GEL_Excelsior_Caps.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  font-family:"Sansation";

}
html {
  scroll-behavior: smooth;
}

html, body{
  height:100%;
}

/* @media (max-width:1200px){
  html, body{
    height:auto;
  }
} */

body{
  font-size:12px;
  margin:0;
  padding:0;
}

header{
  height:100%;
  width:100%;
  background: url(../images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


.top-bar{
  border-bottom:1px solid rgba(255,255,255,0.5);
  width:100%;
  height:40px;
}

.inner-top-bar{
  width:1400px;
  margin:0 auto;
  height: 100%;
  position: relative;
}

.top-bar-right-menu{
  height: 100%;

  position: absolute;
  right:0;
}

@media (max-width:1400px) {
  .inner-top-bar{
    width:100%;
  }
}

.language-chooser{
  background: transparent;
  color: white;
  height:100%;
  width:130px;
  font-family:arial;
  font-size:12px;
  padding:10px 30px 10px 15px;
  font-weight:bold;
  border:0;
  background:url(../images/dropdown-arrow.svg) right center no-repeat;
  -webkit-appearance: none;
  -moz-appearance:none;
  cursor: pointer;
}


.language-chooser-dropdown{
  display:none;
  position:absolute;
  z-index:2;
  top:40px;
  left:0;
  width:130px;
  padding: 10px 10px 3px 15px;
  border:1px solid rgba(255,255,255,0.5);
  border-top:0;
  background: rgba(0,0,0,0.4);
}

@media (max-width:900px){
  .language-chooser-dropdown{
    background: rgba(0,0,0,0.4);
  }
}

.currency-chooser-dropdown{
  left:3px;
}

.language-chooser-dropdown a, .currency-chooser-dropdown a{
  display: inline-block;
  color:white;
  padding-bottom: 5px;
  text-decoration: none;
}

.language-chooser-dropdown a:hover, .currency-chooser-dropdown a:hover{
  color:#ccc;
  text-decoration: none;
}

.currency-chooser:hover .currency-chooser-dropdown{
  display:block;
}

.language-chooser:hover .language-chooser-dropdown{
  display:block;
}

.logo{
  width:250px;
  display:block;
  margin:30px auto 30px auto;
}

nav{
  text-transform: uppercase;
  text-align: center;
  margin-bottom:50px;
}
.alternative-header nav a {
  color:#444;
}
nav a,
nav a:hover{
  font-family:"Sansation";
  font-size:15px;
  margin:0 20px;
  padding:15px 10px 15px 0;
  color:#fff;
  position: relative;
  text-decoration: none;
}

nav a:hover{
  border-bottom:1px solid #A3CE54;
  color:#A3CE54;
}

nav a:hover .short-border{
  display: block;
}

.short-border{
  display:none;
  position: absolute;
  bottom:0;
  left:0;
  background: #A3CE54;
  height:2px;
  width:70%;
}

.active-nav-button{
  border-bottom:1px solid #A3CE54;
  color:#A3CE54;
}

.active-nav-button .short-border{
  display: block;
}

@media (max-width:400px){
  nav a,
  nav a:hover{
    margin:10px;
    padding:5px 0  ;
  }
}

.services{
  position: relative;
  width:100%;
  height:60px;
  /* border:1px solid purple; */
  margin-bottom:50px;
}

.inner-services{
  z-index: 2;
  position: relative;
  height:100%;
  width:800px;
  /* border:1px solid orange; */
  margin:0 auto;
  background: url(../images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.service-logos{
  z-index: 1;
  height:100%;
  width:100px;
  margin:0 auto;
  position: absolute;
  /* border:1px solid #ccc; */
  cursor: pointer;
}
/**/

.line-through-services{
  z-index: 0;
  background: inherit;
  position: absolute;
  width:100%;
  height:1px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);

  background:rgba(255,255,255,0.2);
}

.service-logo-button{
  position: absolute;
  border-radius:100%;
  border:7px solid rgba(255,255,255,0.3);
  height:40px;
  width:40px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  cursor: pointer;
  color:#fff;
  font-size:13px;
  font-family: "Sansation";
}

.service-logo-button-text{
  position:absolute;
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  width:auto;
  white-space: nowrap;
}

.thick-border-left, .thick-border-right{
  position: absolute;
  display: none;
  border:3px solid rgba(255,255,255,0.4);
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}
.thick-border-left{
  width:30px;
  left:0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.thick-border-right{
  width:30px;
  right:0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.service-logos:hover .service-logo-button{
  border:7px solid rgba(255,255,255,0.4);
}

.service-logos:hover .thick-border-left{
  display: block;
}
.service-logos:hover .thick-border-right{
  display: block;
}

.service-logo-button img{
  z-index: 5;
  position: relative;
  display: block;
  top:0;
}

.services-logo-georgia4you{
  left:50px;
}

.services-logo-cars4rent{
  left:250px;
}

.services-logo-rooms4rent{
  right:250px;
}

.services-logo-support4biz{
  right:50px;
}

.services-logo-active  .service-logo-button{
  border:7px solid rgba(255,255,255,0.4);
}
.services-logo-active .thick-border-left{
  display: block;
}
.services-logo-active .thick-border-right{
  display: block;
}

@media (max-width:900px){
  .services{
    display:none;
  }
  nav{
    display:none;
  }
}

.big-text{
  font-size:100px;
  width:800px;
  color:#fff;
  font-weight:bold;
  font-family:"Sansation";
  margin: 0 auto;
  text-align: center;
}

@media (max-width:800px){
  .big-text{
    width:100%;
    font-size:80px;
  }
}

@media (max-width:600px){
  .big-text{
    font-size:60px;
  }
}

@media (max-width:500px){
  .big-text{
    font-size:40px;
  }
}

.slogan{
  width:800px;
  margin: 65px auto;
  color:#fff;
  text-align:center;
  margin-bottom:70px;

  font-size: 30px;
}

@media (max-width:800px){
  .slogan{
    width:100%;
  }
}

.book-form{
  width:1400px;
  min-height:100px;
  margin:30px auto;
  background:rgba(0,0,0,0.3);
  padding:40px;
  text-align:center;
}

.book-form-title{
  width:100%;
  text-align: center;
  margin-bottom:30px;

}

.book-form-title h1{
  color:#fff;
  font-size: 27px;
}

.book-form-inputs select, .book-form-inputs input{
  height:50px;
  width:19%;
  padding-left: 60px;
  font-size:12px;
  border:none;


  background-color:#fff;
  -webkit-appearance: none;
  -moz-appearance:none;

  background-image: url(../images/dropdown-arrow-dark.svg), url(../images/map-marker.svg);
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;

  -webkit-clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.book-form-inputs input[type=button]{
  padding-left: 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  background:#A3CE54;
  color:white;
}

.country-input{
  -webkit-clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%) !important;
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%) !important;
}

.date-input{
  background-image: none, url(../images/calendar.svg) !important;
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}

.country-input{
  background-image:url(../images/dropdown-arrow-dark.svg),  url(../images/globe.svg) !important;
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width:1400px){
  .book-form{
    width:100%;
  }
}

@media (max-width:1200px){
  .book-form-inputs select,
  .book-form-inputs input{
    display:block;
    width:100%;
    margin:10px auto;
    -webkit-clip-path: none !important;
    clip-path: none !important;
  }
}

.main-advantages{
  width: 1400px;
  margin:0 auto;
}

.advantage{
  width:19.75%;
  display: inline-block;
  text-align:center;
}

.advantage img{
  width:20%;
  margin-bottom:10px;
}

.advantage-text{
  background:rgba(0,0,0,0.7);
  color:white;
  padding:10px 0;
}

@media (max-width:1400px){
  .main-advantages{
    width:100%;
    text-align: center;
  }
  .advantage{
    width:19%;
    font-size:12px;
  }
}

@media (max-width:1050px){
  .main-advantages{
    display:none;
  }
}

.alt-service-logos{
  display:none;
  position: absolute;
  left: 40px;
  top:50%;
  transform:translateY(-50%);
}

.alt-service-logos img{
  width:25px;
}

.alt-booking .alt-service-logos{
  display: block;
}

.alt-service-logos-single-logo-containter{
  float:left;
  padding:8px 5px;
  position: relative;
  cursor: pointer;
}

.logo-upper-image{
  margin-top: 6px;
}

.logo-label{
  display: none;
  position: relative;
  font-size:9px !important;
  white-space: nowrap;
  z-index:1;
  line-height: 11px;
}

.logo-label-title{
  display: block;
  position: absolute;
  bottom:-25px;
  left:50%;
  transform:translateX(-50%);
  background:#444;
  color:white;
  border-radius:3px;
  padding: 1px 3px;
}

@media (max-width:900px){
  .logo-label-title-margin-left{
    left:35px;
  }
}
.arrow-up {
  position: absolute;
  bottom:-13px;
  left:50%;
  transform:translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #444;
}

.alt-service-logos-single-logo-containter-active .logo-label{
  display: block;
}

.alt-service-logos-single-logo-containter:hover .logo-label{
  display: block;
}

/*///////////////////////////////
// ALTERNATIVE HEADER ////*/


.alternative-main{

}

.alternative-header{
  position:fixed;
  top:0;
  left:0;
  z-index: 3;
  -webkit-box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  -moz-box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  border-bottom: 3px solid #fff;
  background: #f9f9f9 !important;
}

.alternative-header .mobile-menu .mobile-menu-btn-open{
  color:#444;
}

.alternative-header .top-bar{
  background:#fff;
}

.alternative-header .language-chooser{
  color:#444;
  background:url(../images/dropdown-arrow-dark.svg) right center no-repeat;
}

.alternative-header .language-chooser-dropdown{
  background: rgba(0,0,0,0.4);
}

.alternative-header .alt-service-logos{
  display:block;
}

.alternative-header{
  height:120px;
  overflow: hidden;
}

/*// ALTERNATIVE HEADER ////
///////////////////////////////*/


/*///////////////////////////////
// MOBILE MENU ////*/

.mobile-menu{
  display:none;
  z-index: 2;
}

.mobile-menu-body{
  height:100%;
  position: fixed;
  width:0;
  z-index: 3;
  background:#fff;
  overflow:hidden;
  transition: all 200ms;
  box-shadow: 4px 0 5px rgba(0,0,0,0.2);

}

.mobile-menu-body-content{
  position: relative;
}

.mobile-menu-btn-open{
  position: absolute;
  left:0;
  top:0;
  display: block;
  color: white;
  padding:0 10px;
  font-size:28px;
  cursor: pointer;
}


.mobile-menu-btn-close{
  position: absolute;
  right:0;
  top:0;
  display: block;
  color: #A3CE54;
  padding:0 10px;
  font-size:28px;
  cursor: pointer;
  z-index: 4;
}

.mobile-menu-content{
  position:absolute;
  left: 0;
  padding:10px;
  width: 100%;
}

.mobile-menu-title{
  display: inline-block;
  font-size:20px;
  color:#A3CE54;
}

.mobile-menu-inner-btns{
  margin-top:20px;
  width:100%;
}

.mobile-menu-inner-btns a{
  display: block;
  text-decoration:none;
  padding:10px;
  border-bottom:1px dashed #f0f0f0;
  width:100%;
  color:#444;
  white-space: nowrap;
}

.mobile-menu-inner-btns a:hover,
.mobile-menu-inner-btns-active{
  background:#A3CE54 !important;
  color:white !important;
}

@media (max-width:900px){
  .mobile-menu{
    display:block;
  }
}
/*// MOBILE MENU ////
///////////////////////////////*/

main{
  margin:0 auto;
  width:1400px;
}

@media (max-width:1420px){
  main{
    margin:0 auto;
    width:1000px;
    padding:10px;
  }
}
@media (max-width:1680px){
  main{
    margin:0 auto;
    width:1200px;
    padding:10px;
  }
}


/* //////////////////////// */
/* CARDS */

.content-content{
}
.slick-slide {
  margin: 0 5px;
}

.slick-list {
  margin: 0 -5px;
}
.slick-slider {
  overflow: hidden;
}

.content-title h5{
  color: #000;
  font-weight: lighter;
  font-size: 15px;
  padding: 0;
}
.content-title h1{
  font-size: 35px;
  padding: 0;
  margin-top: -4px;
}

.card-outer{
  height: 400px;
}

.card{
  width:100%;
  height:100%;
  text-align: center;
  position: relative;
}

.slick-prev{
  font-size: 20px;
  height:450px;
  width:50px;
  position: absolute;
  top:5px;
  left:0;
  z-index: 2;
  border: 0;
  outline:0;
  background: rgba(0,0,0,0);
  cursor: pointer;
}
.slick-next{
  font-size: 20px;
  height:450px;
  width:50px;
  position: absolute;
  top:5px;
  right:0;
  z-index: 2;
  border: 0;
  outline:0;
  background: rgba(0,0,0,0);
  cursor: pointer;
}

.slick-btn-prev,
.slick-btn-next{
  color:white;
  display: inline-block;
  border-radius: 100%;
  width:50px;
  height: 50px;
  position:relative;
}

.slick-btn-prev,
.slick-btn-next{
  left:-6px;
}

.slick-btn-prev-inner,
.slick-btn-next-inner{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:40px;
}

.slick-btn-next-inner{

}

.card-info-container{
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 20px;
  color: white;
  /* font-weight: bold; */
}

.card-hover-info-container{
  position: absolute;
  bottom:0;
  left:0;
  height:0;
  width:100%;
  background:rgba(162, 206, 83, 0.8);
  overflow:hidden;
  transition: ease 200ms;
  display: inline-block;
  text-align:left;
  color:white;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  padding:0 20px;
}

.card-info-border-bottom-container{
  width:100%;
  position:relative;
}

.card-info-border{
  position: absolute;
  /* bottom: -10px; */
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  background: #a2ce53;
}

.card-outer:hover .card-hover-info-container{
  height:100%;
}

.card-outer:hover .card-info-container{
  display:none;
}

.plus-sign{
  position: absolute;
  bottom:20px;
  right:20px;
  color:white;
  font-size:20px;
}

/* CARDS */
/* //////////////////////// */

/* //////////////////////// */
/* SECTION WHERE TO GO */

section{
  margin-top:120px;
}

.where-to-go{
  width:100%;
}

.where-to-go .grida {
  display: grid;
  row-gap: 19px;
  grid-template-columns: repeat(4, 24%);
  justify-content:space-between;
  align-content: space-between;
  background-color: #fff;
  color: #444;
}

.where-to-go .card-outer {
  height:200px;
}

.where-to-go .card-outer:nth-child(1){
  height:420px;
  grid-row: auto / span 2 !important;
}

@media (max-width:1420px){
  .where-to-go .grida {
    row-gap: 10px;
    grid-template-columns: repeat(3, 32.5%);
    width:100%;
  }

  .where-to-go .card-outer:nth-child(1){
    height:410px;
  }
}
@media (max-width:770px){
  .where-to-go .grida {
    row-gap: 5px;
    grid-template-columns: repeat(2, 49.5%);
  }
  .where-to-go .card-outer:nth-child(1){
    height:405px;
  }

}
@media (max-width:450px){
  .where-to-go .grida {
    grid-template-columns: repeat(1, 100%);
  }
}

/* SECTION WHERE TO GO */
/* //////////////////////// */

/* //////////////////////// */
/* SECTION WHAT TO DO */

section{
  margin-top:70px;
}

.what-to-do{
  width:100%;
}

.what-to-do .grida {
  display: grid;
  row-gap: 19px;
  grid-template-columns: repeat(4, 24%);
  justify-content:space-between;
  align-content: space-between;
  background-color: #fff;
  color: #444;
}

.what-to-do .card-outer {
  height:200px;
}

@media (max-width:1420px){
  .what-to-do .grida {
    row-gap: 10px;
    grid-template-columns: repeat(3, 32.5%);
    width:100%;
  }
}
@media (max-width:770px){
  .what-to-do .grida {
    row-gap: 5px;
    grid-template-columns: repeat(2, 49.5%);
  }
}
@media (max-width:450px){
  .what-to-do .grida {
    grid-template-columns: repeat(1, 100%);
  }
}

/* SECTION WHAT TO DO */
/* //////////////////////// */


/* //////////////////////// */
/* NEXT PREV POST*/
.prev-next-post-main{
  margin-top:200px;
  position:relative;
  width:100%;
  border-radius:7px;
  height:300px;
  display: grid;
  grid-template-columns: 0.501fr 0.5fr;
  grid-template-areas: "prev-next-post-left prev-next-post-right";
}
.prev-next-post-left a,
.prev-next-post-right a{
  text-transform: none;
  text-decoration: none;
  color:white;
}

.prev-next-post-left { grid-area: prev-next-post-left;color:white;cursor: pointer;}
.prev-next-post-right { grid-area: prev-next-post-right; color:white;cursor: pointer;}

.prev-next-post-right:before,
.prev-next-post-left:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.31) 0%,rgba(2,2,2,0.31) 1%,rgba(181,181,181,0) 100%);
  opacity: .6;
}

.prev-next-post-left{width:100%;position:relative;}
.prev-next-post-right{width:100%;position:relative;}

.prev-next-post-left-text{position:absolute;left:20px;display:inline-block;text-align:left;top:50%;transform:translateY(-50%);}
.prev-next-post-right-text{position:absolute;right:20px;display:inline-block;text-align:right;top:50%;transform:translateY(-50%);}

.prev-next-post-social{
  z-index:1;
  background:#fff;
  position:absolute;
  top:-25px;
  border-radius:30px;
  left:50%;
  transform:translateX(-50%);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "social-one social-two social-three";
}

.social-one { grid-area: social-one; }
.social-two { grid-area: social-two; }
.social-three { grid-area: social-three; }

.prev-next-post-social div{
  text-align: center;
  transform: translateY(10px);
  font-size:25px;
  width:100px;
  height:50px;
}

/* NEXT PREV POST*/
/* //////////////////////// */


/* //////////////////////// */
/* SCROLL TO TOP*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(163, 206, 84, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(163, 206, 84, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* SCROLL TO TOP*/
/* //////////////////////// */


/* PRELOADER */
.loading {
  overflow: hidden;
  height: 100vh;
}
.infinity {
  width: 120px;
  height: 60px;
  position: relative;
}
.infinity div,
.infinity span {
  position: absolute;
}
.infinity div {
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: rotate 6.9s linear infinite;
  animation: rotate 6.9s linear infinite;
}
.infinity div span {
  left: -8px;
  top: 50%;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #f3704b;
  box-shadow: 2px 2px 8px rgba(243, 112, 75, 0.09);
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: move 6.9s linear infinite;
  animation: move 6.9s linear infinite;
}
.infinity div span:before, .infinity div span:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinity div span:before {
  -webkit-animation: drop1 .8s linear infinite;
  animation: drop1 .8s linear infinite;
}
.infinity div span:after {
  -webkit-animation: drop2 .8s linear infinite .4s;
  animation: drop2 .8s linear infinite .4s;
}
.infinity div:nth-child(2) {
  -webkit-animation-delay: -2.3s;
  animation-delay: -2.3s;
}
.infinity div:nth-child(2) span {
  -webkit-animation-delay: -2.3s;
  animation-delay: -2.3s;
}
.infinity div:nth-child(3) {
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}
.infinity div:nth-child(3) span {
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}

.infinityChrome {
  width: 128px;
  height: 60px;
}
.infinityChrome div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #f3704b;
  box-shadow: 2px 2px 8px rgba(243, 112, 75, 0.09);
  border-radius: 50%;
  -webkit-animation: moveSvg 6.9s linear infinite;
  animation: moveSvg 6.9s linear infinite;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  offset-path: path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z");
}
.infinityChrome div:before, .infinityChrome div:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinityChrome div:before {
  -webkit-animation: drop1 .8s linear infinite;
  animation: drop1 .8s linear infinite;
}
.infinityChrome div:after {
  -webkit-animation: drop2 .8s linear infinite .4s;
  animation: drop2 .8s linear infinite .4s;
}
.infinityChrome div:nth-child(2) {
  -webkit-animation-delay: -2.3s;
  animation-delay: -2.3s;
}
.infinityChrome div:nth-child(3) {
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
}

@-webkit-keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #a3ce54;
  }
  75% {
    background: #23C4F8;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #a3ce54;
  }
  75% {
    background: #23C4F8;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
  100% {
    margin-left: -60px;
  }
}
@keyframes rotate {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
  100% {
    margin-left: -60px;
  }
}
@-webkit-keyframes move {
  0%,50% {
    left: -8px;
  }
  25% {
    background: #a3ce54;
  }
  75% {
    background: #23C4F8;
  }
  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}
@keyframes move {
  0%,50% {
    left: -8px;
  }
  25% {
    background: #a3ce54;
  }
  75% {
    background: #23C4F8;
  }
  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}
@-webkit-keyframes drop1 {
  100% {
    -webkit-transform: translate(32px, 8px) scale(0);
    transform: translate(32px, 8px) scale(0);
  }
}
@keyframes drop1 {
  100% {
    -webkit-transform: translate(32px, 8px) scale(0);
    transform: translate(32px, 8px) scale(0);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9);
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    -webkit-transform: translate(32px, -8px) scale(0);
    transform: translate(32px, -8px) scale(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9);
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    -webkit-transform: translate(32px, -8px) scale(0);
    transform: translate(32px, -8px) scale(0);
  }
}
.infinity {
  display: none;
}


#page-preloader {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #ADAFB6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}


.grid-object-container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.grid-object-container .grid-object-x2{
  box-shadow: inset 0 0 0 1px coral;
  height:auto;
  width:50%;
  float:left;
  padding:20px;
}
.grid-object-container .grid-object-x3{
  box-shadow: inset 0 0 0 1px coral;
  height:auto;
  width:33.33%;
  float:left;
  padding:20px;
}

.grid-object-container .grid-object-x4{
  box-shadow: inset 0 0 0 1px coral;
  height:auto;
  width:25%;
  float:left;
  padding:20px;
}
.grid-object-container .grid-object-x5{
  box-shadow: inset 0 0 0 1px coral;
  height:auto;
  width:20%;
  float:left;
  padding:20px;
}
.grid-object-container .grid-object-x6{
  box-shadow: inset 0 0 0 1px coral;
  height:auto;
  width:16.66%;
  float:left;
  padding:20px;
}

@media(max-width:800px){
  .grid-object-container .grid-object-x2{
    width:50%;
  }
  .grid-object-container .grid-object-x3{
    width:50%;
  }
  .grid-object-container .grid-object-x4{
    width:50%;
  }
  .grid-object-container .grid-object-x5{
    width:50%;
  }
  .grid-object-container .grid-object-x6{
    width:50%;
  }
}
@media(max-width:500px){
  .grid-object-container .grid-object-x2{
    width:100%;
  }
  .grid-object-container .grid-object-x3{
    width:100%;
  }
  .grid-object-container .grid-object-x4{
    width:100%;
  }
  .grid-object-container .grid-object-x5{
    width:100%;
  }
  .grid-object-container .grid-object-x6{
    width:100%;
  }
}